{% extends 'AppBundle::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block pageTitle %}
    Post #{{ post.id }} | {{ parent() }}
{% endblock %}

{% block pageContainer %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1>Post #{{ post.id }}</h1>

                        {{ form(form, {'attr': {'novalidate': 'true'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}